:root {
    --fuente-titulos:"Baskervville", serif;
    --fuente-texto:"Inter", sans-serif;

    --color-fondo1:#1F5148;
    --color-texto1:#F5F1EE;

    --color-fondo2:#F5F1EE;
    --color-texto2:#1F5148;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fuente-texto);
    scroll-behavior: smooth;
}
nav#menu {
    
    position: absolute;
    top: 0;
    width: 100%;
    background-color: var(--color-fondo1);
    z-index: 100;
    padding-top: 10px;
}

/* Contenedor horizontal */
.menu-contenedor {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    top: 0;
}

/* Bloque izquierdo: logo + enlaces */
.menu-izquierda {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav#menu img.logo {
    height: 40px;
    width: auto;
    max-width: none;
}

.logo-contenedor {
    display: flex;
    align-items: center;
}

/* Enlaces del menú */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    
  }

/* Estilo de los links */
.nav-links a {
    text-decoration: none;
    color: var(--color-texto1);   
    font-family: var(--fuente-texto);
    font-weight: 400;
    opacity: 1;
    transition: opacity 0.2s ease;
}

.nav-links a:hover {
    opacity: 1;
}


/* HERO */
.hero {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    margin-top: 80px;
}

/* Imagen del hero */
.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;   /* No se deforma, siempre cubre */
    object-position: center;
    display: block;
}

/* Capa oscura */
.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.35);
    z-index: 1;
}

/* Contenido */
.hero-contenido {
    position: absolute;
    top: 50%;
    left: 50px;  /* como en tu diseño */
    transform: translateY(-50%);
    z-index: 2;
    color: var(--color-texto1);
}

.hero-contenido h1 {
    font-size: 5rem;
    font-family: var(--fuente-texto);
    font-weight: 200;
}

.hero-contenido h1 span {
    font-weight: 300;
    font-family: var(--fuente-titulos);
}

.hero-contenido p {
    width: 50%;
    font-size: 1.1rem;
    line-height: 1.7rem;
    font-weight: 300;
    margin-left: 20px;
}

/* SECCIÓN VERDE */
.seccion-verde {
    background-color: var(--color-fondo1);
    color: var(--color-texto1);
    text-align: center;
    padding: 100px 20px;
}

.seccion-verde p {
    max-width: 850px;
    margin: auto;
    font-size: 1.3rem;
    line-height: 2.2rem;
    font-family: var(--fuente-titulos);
}

.seccion-verde p::after {
    content: "";
    display: block;
    width: 400px;     
    height: 2px; 
    background-color: var(--color-texto1);
    margin: 40px auto 0 auto;
    opacity: 0.6;   
}

/* SECCIÓN VIDEO */
.seccion-video {
    position: relative;
    width: 100%;
    height: 75vh; 
    overflow: hidden;
}

/* Vídeo a pantalla completa */
.seccion-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* SECCIÓN NATURALEZA */
.seccion-naturaleza {
    display: flex;
    width: 100%;
    background-color: var(--color-fondo2); 
    color: var(--color-texto2); 
    min-height: 60vh;
}

/* Imagen izquierda sin márgenes laterales */
.naturaleza-imagen img {
    width: 50vw;
    height: 70%;
    object-fit: cover;
    object-position: center;
    display: block;
    margin-top: 50px;
}

/* Texto a la derecha */
.naturaleza-texto {
    width: 50%;
    padding: 20px 60px;
    margin-top: 130px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Título */
.naturaleza-texto h2 {
    font-family: var(--fuente-titulos);
    font-size: 4rem;
    font-weight: 200;
   
}

/* Párrafo */
.naturaleza-texto p {
    font-family: var(--fuente-texto);
    font-size: 1rem;
    line-height: 1.2rem;
    max-width: 600px;
    font-weight: 300;
}

.seccion-naturaleza p::after {
    content: "";
    display: block;
    width: 600px;     
    height: 2px; 
    background-color: var(--color-texto2);
    margin: 40px auto 0 auto;
    opacity: 0.8;   
}



/* ===== SECCIÓN CIUDADES ===== */
.seccion-ciudades {
    display: grid;
    grid-template-columns: 1fr 40vw;
    width: 100%;
    min-height: 70vh;
    background-color: var(--color-fondo2);
    color: var(--color-texto2);
}

/* Texto Izquierda */
.ciudades-texto {
    padding: 100px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 300;
}

.ciudades-texto h2 {
    font-family: var(--fuente-titulos);
    font-size: 4rem;
    font-weight: 200;
    margin-bottom: 25px;
    
}

.ciudades-texto p {
    width: 650px;

}

/* === CARRUSEL CIUDADES === */
.carrusel-ciudades {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.carrusel {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

/* Tamaño estable */
.carrusel img {
    width: 350px;
    height: 230px;
    object-fit: cover;
    
    margin-right: 25px;
}

/* Puntos */
.puntos {
    margin-top: 20px;
    text-align: center;
    z-index: 100;
}

.puntos span {
    height: 14px;
    width: 14px;
    background-color: var(--color-fondo2);
    margin: 6px;
    display: inline-block;
    border-radius:100% ;
    cursor: pointer;
    transition: 0.3s;
}

.puntos span:hover {
    transform: scale(1.25);
}

.puntos .activo {
    background-color: var(--color-texto2);
    transform: scale(1.35);
}
