:root {
    --fuente-titulos:"Baskervville", serif;
    --fuente-texto:"Inter", sans-serif;

    --color-fondo1:#1F5148;
    --color-texto1:#F5F1EE;

    --color-fondo2:#F5F1EE;
    --color-texto2:#1F5148;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fuente-texto);
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

nav#menu {
    
    position: absolute;
    top: 0;
    width: 100%;
    background-color: var(--color-fondo1);
    z-index: 100;
    padding-top: 10px;
}

/* Contenedor horizontal */
.menu-contenedor {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    top: 0;
}

/* Bloque izquierdo: logo + enlaces */
.menu-izquierda {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav#menu img.logo {
    height: 40px;
    width: auto;
    max-width: none;
}

.logo-contenedor {
    display: flex;
    align-items: center;
}

/* Enlaces del menú */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    
  }

/* Estilo de los links */
.nav-links a {
    text-decoration: none;
    color: var(--color-texto1);   
    font-family: var(--fuente-texto);
    font-weight: 400;
    opacity: 1;
    transition: opacity 0.2s ease;
}

.nav-links a:hover {
    opacity: 1;
}


/* HERO */
.hero {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    margin-top: 80px;
}

/* Imagen del hero */
.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;   /* No se deforma, siempre cubre */
    object-position: center;
    display: block;
}

/* Capa oscura */
.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.35);
    z-index: 1;
}

/* Contenido */
.hero-contenido {
    position: absolute;
    top: 50%;
    left: 50px;  /* como en tu diseño */
    transform: translateY(-50%);
    z-index: 2;
    color: var(--color-texto1);
}

.hero-contenido h1 {
    font-size: 5rem;
    font-family: var(--fuente-texto);
    font-weight: 200;
}

.hero-contenido h1 span {
    font-weight: 300;
    font-family: var(--fuente-titulos);
}

.hero-contenido p {
    width: 50%;
    font-size: 1.1rem;
    line-height: 1.7rem;
    font-weight: 300;
    margin-left: 20px;
    text-align: justify;
}

.scroll-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.8rem;
    color: var(--color-texto1);
    cursor: pointer;
    opacity: 0.9;
    z-index: 100;
}

/* Animación suave del icono */
@keyframes bounce {
    0%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(10px);
    }
}

.scroll-down:hover {
    opacity: 1;
}

/* SECCIÓN VERDE */
.seccion-verde {
    background-color: var(--color-fondo1);
    color: var(--color-texto1);
    text-align: center;
    padding: 100px 20px;
}

.seccion-verde p {
    max-width: 850px;
    margin: auto;
    font-size: 1.3rem;
    line-height: 2.2rem;
    font-family: var(--fuente-titulos);
}

.seccion-verde p::after {
    content: "";
    display: block;
    width: 400px;     
    height: 2px; 
    background-color: var(--color-texto1);
    margin: 40px auto 0 auto;
    opacity: 0.6;   
}

/* SECCIÓN VIDEO */
.seccion-video {
    position: relative;
    width: 100%;
    height: 75vh; 
    overflow: hidden;
}

/* Vídeo a pantalla completa */
.seccion-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* SECCIÓN NATURALEZA */
.seccion-naturaleza {
    display: flex;
    width: 100%;
    background-color: var(--color-fondo2); 
    color: var(--color-texto2); 
    min-height: 60vh;
    
}

/* Imagen izquierda sin márgenes laterales */
.naturaleza-imagen img {
    width: 50vw;
    height: 70%;
    object-fit: cover;
    object-position: center;
    display: block;
    margin-top: 50px;
}

/* Texto a la derecha */
.naturaleza-texto {
    width: 50%;
    padding: 20px 60px;
    margin-top: 90px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Título */
.naturaleza-texto h2 {
    font-family: var(--fuente-titulos);
    font-size: 4rem;
    font-weight: 200;
   
}

/* Párrafo */
.naturaleza-texto p {
    font-family: var(--fuente-texto);
    font-size: 1rem;
    line-height: 1.2rem;
    max-width: 900px;
    font-weight: 300;
    text-align: justify;
}

.seccion-naturaleza p::after {
    content: "";
    display: block;
    width: 660px;     
    height: 2px; 
    background-color: var(--color-texto2);
    margin-top: 40px ;
    margin-right: 0;
    opacity: 0.8;   
}


/*ciudades*/

.ciudades-villas-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    background-color: var(--color-fondo2);
}



.ciudades-imagenes {
    display: flex;
    gap: 20px;
    padding-right: 0; /* Pegado al borde derecho */
    padding-bottom: 80px;
   
}

.ciudades-imagenes img {
    width: 290px;   
    height: 450px;   
    object-fit: cover;
    
}



/* Texto Izquierda */
.ciudades-texto {
    width: 60%;
    padding-left: 15%;
    color: var(--color-texto2);
    align-self: flex-end;
    padding: 100px 40px;
    display: flex;
    flex-direction: column;
    hyphens: auto;
    font-weight: 300;
}

.ciudades-texto h2 {
    font-family: var(--fuente-titulos);
    font-size: 4rem;
    font-weight: 200;
    margin-bottom: 25px;
    line-height: 55px;
    
    
}

.ciudades-texto p {
    width: 400px;
    text-align: justify;

}

.ciudades-texto p::after {
    content: "";
    display: block;
    width: 400px;     
    height: 2px; 
    background-color: var(--color-texto2);
    margin: 20px auto 0 auto;
    opacity: 0.8; 
}




/* LOADER */
#loader {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1F5148;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: top 1s ease-in-out;
}

#loader-logo {
    width: 150px;
    animation: blink 1.2s infinite ease-in-out;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.35; }
}

/* Evitar desbordes en secciones con imágenes grandes */
.seccion-naturaleza,
.ciudades-villas-contenedor,
.seccion-playas,
.seccion-cabarceno,
.seccion-deporte {
    overflow-x: hidden;
}


/* --- Carrusel Ciudades --- */
.ciudades-imagenes {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.ciudades-track {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 20px;
}

.ciudades-item {
  flex: 0 0 290px;
  scroll-snap-align: start;
}

.ciudades-item img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  display: block;
  
}

/* Botones */
.ciudades-prev,
.ciudades-next {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  border: none;
  background: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  z-index: 10;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.ciudades-prev:hover,
.ciudades-next:hover {
  opacity: 1;
}

.ciudades-prev { left: 10px; }
.ciudades-next { right: 10px; }

.ciudades-track {
  display: flex;
  gap: 20px;
  scroll-behavior: smooth;
  overflow-x: auto; /* si quieres scroll manual */
  
  /* ocultar scrollbar en diferentes navegadores */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.ciudades-track::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

/* Aseguramos que cada figure sea relativo */
.ciudades-track figure {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

/* Overlay semi-transparente */
.ciudades-track figure .overlay-text {
    position: absolute;
    padding-top: 40px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); /* color negro con opacidad */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--fuente-texto);
    font-size: 1.7rem;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-weight: 200;
}

/* Mostrar overlay al pasar el ratón */
.ciudades-track figure:hover .overlay-text {
    opacity: 1;
}

/* SECCIÓN PLAYAS */
.seccion-playas {
    display: flex;
    width: 100%;
    background-color: var(--color-fondo2); /* igual que naturaleza */
    color: var(--color-texto2); 
    min-height: 60vh;
    overflow: hidden;
}

/* Imagen izquierda sin márgenes laterales */
.playas-imagen img {
    width: 50vw;
    height: 80%;       /* altura total de la sección */
    object-fit: cover;  /* recorta sin deformar */
    object-position: center;
    display: block;
    margin-top: 0;      /* quitar margen superior */
}

/* Texto a la derecha */
.playas-texto {
    width: 50%;
    padding: 20px 60px;
    
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Título */
.playas-texto h2 {
    font-family: var(--fuente-titulos);
    font-size: 4rem;
    font-weight: 200;
}

/* Párrafo */
.playas-texto p {
    font-family: var(--fuente-texto);
    font-size: 1rem;
    line-height: 1.2rem;
    max-width: 900px;
    font-weight: 300;
    text-align: justify;
}

/* Línea decorativa debajo del párrafo */
.seccion-playas p::after {
    content: "";
    display: block;
    width: 660px;     
    height: 2px; 
    background-color: var(--color-texto2);
    margin-top: 25px;
    margin-right: 0;
    opacity: 0.8;   
}

/* Cabárceno */
/* Contenedor principal */
.cabarceno-seccion {
    display: flex;          /* flex para situar texto e imágenes lado a lado */
    width: 100%;
    min-height: 60vh;       /* altura uniforme */
    background-color: var(--color-fondo2);
    padding-top: 20px;
}

/* Texto a la izquierda */
.cabarceno-texto {
    width: 50%;             /* ocupa la mitad izquierda */
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-texto2);
    font-weight: 300;
}

/* Imágenes a la derecha */
.cabarceno-imagenes {
    width: 50%;             /* ocupa la mitad derecha */
    display: flex;
    justify-content: flex-end; /* empuja las imágenes hacia el borde derecho */
    gap: 20px;
}

/* Cada imagen */
.cabarceno-item img {
    width: 100%;            /* ocupa todo el ancho del figure */
    height: 100%;           /* altura igual a la sección */
    object-fit: cover;      /* recorta proporcionalmente sin deformar */
}

.cabarceno-texto h2 {
    font-family: var(--fuente-titulos);
    font-size: 4rem;
    font-weight: 200;
    margin-bottom: 25px;
    line-height: 55px;
    
    
}

.cabarceno-texto p {
    width: 600px;
    text-align: justify;
    padding-bottom: 40px;

}

.boton-saber-mas {
    display: inline-block;
    width: 600px;
    padding: 12px 30px;
    background-color: var(--color-fondo1);
    color: var(--color-texto1);
    text-decoration: none;
    font-weight: 500;
    font-family: var(--fuente-texto);
    border-radius: 10px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    text-align: center;
    
}

.boton-saber-mas:hover {
    background-color: #17423a; /* un verde más oscuro */
    transform: translateY(-2px); /* pequeño efecto de elevación */
    box-shadow: 0 6px 8px rgba(0,0,0,0.25);
}

.site-footer {
    background-color: var(--color-fondo1);
    color: var(--color-texto1);
    font-family: var(--fuente-texto);
    padding: 40px 20px 20px 20px;
    text-align: center;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.footer-info {
    flex: 1 1 300px;
    text-align: left;
}

.footer-info h3 {
    font-family: var(--fuente-titulos);
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 10px;
}

.footer-info p {
    font-size: 1rem;
    line-height: 1.6rem;
}

.footer-weather {
    flex: 1 1 200px;
    text-align: right;
    font-size: 1rem;
}

.footer-logos {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.footer-logos img {
    height: 50px;
    width: auto;
    opacity: 0.9;
    transition: opacity 0.3s ease;
}

.footer-logos img:hover {
    opacity: 1;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 0.9rem;
    opacity: 0.7;
}

